.step01 {
	background: url( '../img-slides/01.png' ) center no-repeat;
}

.step02 {
	background: url( '../img-slides/02.png' ) center no-repeat;
}

.step03 {
	background: url( '../img-slides/03.png' ) center no-repeat;
}

.step04 {
	background: url( '../img-slides/04.png' ) center no-repeat;
}

.step05 {
	background: url( '../img-slides/05.png' ) center no-repeat;
}

.step06 {
	background: url( '../img-slides/06.png' ) center no-repeat;
}

.step07 {
	background: url( '../img-slides/07.png' ) center no-repeat;
}

.step08 {
	background: url( '../img-slides/08.png' ) center no-repeat;
}

.step09 {
	background: url( '../img-slides/09.png' ) center no-repeat;
}

.step10 {
	background: url( '../img-slides/10.png' ) center no-repeat;
}

.step11 {
	background: url( '../img-slides/11.png' ) center no-repeat;
}

.step12 {
	background: url( '../img-slides/12.png' ) center no-repeat;
}

.step13 {
	background: url( '../img-slides/13.png' ) center no-repeat;
}

.step14 {
	background: url( '../img-slides/14.png' ) center no-repeat;
}

.step15 {
	background: url( '../img-slides/15.png' ) center no-repeat;
}

.step16 {
	background: url( '../img-slides/16.png' ) center no-repeat;
}

.step17 {
	background: url( '../img-slides/17.png' ) center no-repeat;
}

.step18 {
	background: url( '../img-slides/18.png' ) center no-repeat;
}

.step19 {
	background: url( '../img-slides/19.png' ) center no-repeat;
}

.step20 {
	background: url( '../img-slides/20.png' ) center no-repeat;
}

.step21 {
	background: url( '../img-slides/21.png' ) center no-repeat;
}

.step22 {
	background: url( '../img-slides/22.png' ) center no-repeat;
}

.step23 {
	background: url( '../img-slides/23.png' ) center no-repeat;
}

.step24 {
	background: url( '../img-slides/24.png' ) center no-repeat;
}

.step25 {
	background: url( '../img-slides/25.png' ) center no-repeat;
}

.step26 {
	background: url( '../img-slides/26.png' ) center no-repeat;
}

.step27 {
	background: url( '../img-slides/27.png' ) center no-repeat;
}

.step28 {
	background: url( '../img-slides/28.png' ) center no-repeat;
}

.step29 {
	background: url( '../img-slides/29.png' ) center no-repeat;
}

.step30 {
	background: url( '../img-slides/30.png' ) center no-repeat;
}

.step31 {
	background: url( '../img-slides/31.png' ) center no-repeat;
}

.step32 {
	background: url( '../img-slides/32.png' ) center no-repeat;
}

.step33 {
	background: url( '../img-slides/33.png' ) center no-repeat;
}

.step34 {
	background: url( '../img-slides/34.png' ) center no-repeat;
}